{% extends "base.html" %}

{% block title %}
	Página Inicial - SGT
{% endblock title %}

{% block content %}
	<div id="welcome">
		<h1>
			Bem vindo ao sistema de gerenciamento de Tesouraria <span>Clube de Desbravadores Guardiões</span>
		</h1>
	</div>
	<div id="account">
		{% if user.is_authenticated %}
			<a class="btn" href="{% url 'accounts:dashboard' %}">Acessar perfil</a>
		{% else %}
			<a id="btn_account" class="btn" href="{% url 'accounts:register' %}">Criar conta</a>
			<a id="btn_login" class="btn" href="{% url 'accounts:login' %}">Login</a>
		{% endif %}
	</div>
{% endblock content %}
