{% extends "base.html" %}

{% block title %}
	Página Inicial - SGT
{% endblock title %}

{% block content %}
	<p class="black-text flow-text center">
		Bem vindo ao sistema de gerenciamento de Tesouraria <span>Clube de Desbravadores Guardiões</span>.
	</p>
	<ul class="collection">
		<li class="collection-item">
			<a  href=""><i class="mdi-editor-format-list-bulleted"></i>Listar desbravadores</a>
		</li>
		<li class="collection-item">
			<a href=""><i class="mdi-editor-format-list-bulleted"></i>Listar unidades</a>
		</li>
	</ul>
	<p><a href="{% url 'accounts:register' %}" class="waves-effect waves-light btn-large">Criar conta</a></p>
	<p><a href="{% url 'accounts:login' %}" class="waves-effect waves-light btn-large">Login</a></p>
{% endblock content %}