{% extends "base.html" %}

{% block title %}
	Listagem dos desbravadores
{% endblock title %}

{% block content %}
	{% if mensalidade %}
		<ul class="pure-menu-list">
			<li>
				<p>{{ mensalidade.desbravador.nome }}</p>
				<ul>
					<li>
						{% if mensalidade.status_pagamento %}
							<p>Mensalidade do mês paga.</p>
						{% else %}
							<p>Mensalidade do mês não paga.</p>
						{% endif %}
					</li>
				</ul>
			</li>
		</ul>
	{% else %}
		Não existe mensalidade para este desbravador.
	{% endif %}
	<a href="{% url 'core:list_dbvs' %}">Voltar</a>
	<a href="{% url 'index' %}">Home</a>
{% endblock content %}